h2 {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 26px;
	margin-bottom: 0px;
}

ul {
	margin-top: 0px;
}

.content-wrapper {	
	font-family: 'Questrial', sans-serif;
	font-size: 18px;
}

.resume-section {
	margin-left: 12px;
	line-height: 140%
}